version: "3.8"

services:
  api:
    build: ./api
    container_name: api
    ports:
      - "8001:8001"
    restart: unless-stopped

  dashboard:
    build: ./Dashboard
    container_name: dashboard
    ports:
      - "80:80"
    depends_on:
      - api
    restart: unless-stopped
